@import '~stylesheets/base';

.default {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  background: #e9f0ed url('images/bg-leaf.png') repeat center center;
  background-size: cover;
  box-shadow: 0px 0px 19px 7px rgba(219,219,219,1);

  @include rwd(laptop) {
    border-radius: 5px;
    width: $laptop-width;
    height: $laptop-height;
  }

  @include rwd(tablet) {
    border-radius: 5px;
    width: $laptop-width;
    height: $laptop-height;
  }

  @include rwd(mobile) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.space {
  @extend %general-space;
}

.description {
  @extend %general-description;
}

.next {
  @extend %general-next;
}
