@import '~stylesheets/base';

.default {
  display: flex;
}

.row {
  flex-flow: row nowrap;
  align-items: center;

  .field {
    margin-right: 8px;
  }
}

.column {
  flex-flow: column nowrap;

  .field {
    margin-bottom: 5px;
  }
}

.radio, .checkbox {
  height: 14px;
  width: 14px;
  vertical-align: middle;
  margin: 0 6px 0 0;
  background: #fff;
  border: 1px solid #697851;
  outline: none;
  cursor: pointer;
  position: relative;
  -webkit-appearance: none;

  &:checked,
  &:active:not(:disabled) {
    border: 1px solid #697851;
  }

  &:disabled {
    background: rgba(0, 0, 0, 0.3);
    &:checked {
      border: 1px solid rgba(0, 0, 0, 0.3);
    }
  }
}

.error {
  border: 1px solid #c00000;
}

.radio {
  border-radius: 100%;

  &:checked:before {
    display: block;
    height: 8px;
    width: 8px;
    position: relative;
    left: 2px;
    top: 2px;
    background: #697851;
    border-radius: 100%;
    content: '';
  }

  &:disabled:checked:before {
    display: block;
    height: 8px;
    width: 8px;
    position: relative;
    left: 2px;
    top: 2px;
    background: #fff;
    border-radius: 100%;
    content: '';
  }
}

.checkbox {
  border-radius: 2px;

  &:checked:not(:disabled) {
    background: #fff;
  }

  &:checked:before {
    color: #697851;
    content: '\2713';
    font-size: 22px;
    position: absolute;
    top: -8px;
    left: -1px;

    @include rwd(both) {
      top: -12px;
      left: -5px;
    }
  }
}

.field {
  label {
    font-size: 14px;
    color: #697851;
    cursor: pointer;
    user-select: none;
  }
}
