@import '~stylesheets/base';

.submit {
  margin: 0 0 0 10px;
}

.default {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.logo {
  z-index: 99;
  align-self: flex-end;
  margin: 0 24px;
  width: 80px;
  height: 70px;

  @include rwd(both) {
    margin: 0 24px 5px;
  }
}

.content {
  z-index: 8;
  background: #fff;
  width: calc(100% - 60px);
  margin: -36px 0 0;
  padding: 0 15px;

  @include rwd(both) {
    margin: -41px 0 0;
  }
}

.text {
  display: flex;
  flex-flow: row nowrap;

  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #b7cdc1;

  @include rwd(both) {
    margin: 0 0 7px 0;
  }

  &:first-of-type {
    margin-top: 40px;

    @include rwd(both) {
      margin-top: 25px;
    }
  }

  &:last-child {
    margin-bottom: 38px;

    @include rwd(both) {
      margin-bottom: 24px;
    }
  }
}

.label {
  display: inline;
  font-size: 12px;
  margin: 0 5px 0;
}

.value {
  flex: 1;
  display: inline;
  color: #697851;
  margin: 0 0 0 20px;
  white-space: pre-wrap;
  max-height: 65px;
  overflow-y: auto;

  @include scrollbar(#b7cdc1);
}

.border {
  margin: -11px 0 3px;
  padding: 0;
  z-index: 9;

  @include rwd(both) {
    margin: -11px 0 0;
  }

  > li{
    display: inline-block;
    width: 8px;
    height: 8px;
    list-style-type: circle;
    background: #545d4a;
    margin: 0 0 0 5px;
    border-radius: 50%;
  }
}

.button-group {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-end;

  width: calc(100% - 30px);
  margin: -10px 0 0;

  @include rwd(both) {
    margin: 10px 0 0;
  }
}

.error {
  font-family: "EB Garamond";
  font-size: 12px;
  color: red;
}
