.field {
  margin: 10px 0 0 13px;
}

.list-item {
  margin: 24px 0 0;

  &:first-child {
    margin: 0;
  }
}

.next {
  margin: 21px 0 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: flex-end;
}
