.invitation {
  width: 328px;
  height: 408px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  background: url('images/frame.png') no-repeat center center;
  background-size: cover;
}

.frame {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.top {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;

  width: 90%;
  margin-top: 20px;
}

.middle {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  margin-top: 27px;
}

.bottom {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  margin-top: 17px;
}

.name {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  width: 115px;
  color: #697851;
  font-size: 16px;
}

.sign {
  width: 130px;
  height: 62px;
}

.title {
  color: #697851;
  font-size: 16px;
  font-weight: bold;
}

.divider {
  width: 70%;
  border: .5px dashed #e54c51;
}

.date {
  color: #e54c51;
  font-size: 24px;
  font-weight: bold;
}

.restaruant {
  color: #697851;
  font-size: 18px;
}

.address {
  color: #697851;
  font-size: 14px;
}

.button {
  margin-top: 13px;
}
