@import '~stylesheets/base';

.default {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;

  background: #545d4a url('images/bg-leaf.png') repeat center center fixed;

  @include rwd(laptop) {
    border-radius: 5px;
    width: $laptop-width;
    height: $laptop-height;
  }

  @include rwd(mobile) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.title {
  margin: 37px 0 0;
}

.content {
  width: calc(100% - 70px);
  height: calc(100% - 184px);
  background: #fff;
  font-size: 14px;
  color: #697851;
  margin: 25px 0 0;
  padding: 20px;
  overflow-y: auto;

  @include scrollbar(#b7cdc1);
}
